* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,Sofia
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html::-webkit-scrollbar {
	width: 1vw;
}

html::-webkit-scrollbar-thumb {
	background-color: black;
}

html::-webkit-scrollbar-thumb:hover {
	background-color: rgb(75, 75, 75);
}

html::-webkit-scrollbar-track {
	background-color: rgba(68, 68, 68, 0.753);
}

.App {
	text-align: center;
	overflow-x: hidden;
}
.modal-open{
	overflow:hidden;
}

:root {
	scroll-behavior: smooth;
	scroll-padding-top: 60px;
}
.main-heading-master{
  position: absolute;
  right: 50px;
  width: 400px;
  padding: 250px;
  border-radius: 50%;
}


.animation-container {
	width: vw;
	display: grid;
	place-items: start;
	background: #0f0c29;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: auto;
	height: 75vh;
	border :3px solid green;
	
}

.main-section {
	width: 99%;
    display: flex;
    flex-direction: column;
	height: 100vh;
	position: absolute;
	top: 0;
	justify-content: center;
}

span {
	font-size: 1.25rem;
}

span::before {
	content: "WEB DEVELOPMENT";
	text-transform: uppercase;
	color: white;
	background-color: black;
	padding: 0.5rem;
	animation: switchWords 5s infinite ease-in-out;
}

ul {
	margin: 0 auto;
	padding: 0;
	
	list-style: none;
	
	
}

ul li {
	color: black;
	
	font-size: 1rem;
	
}

.modal-heading h2{
	color:red;
}

.about-me {
	color: white;
	border :3px solid green;
	
}

.about-me-info {
	text-align:start;
	margin: 0 auto;
	width: 90%;
	padding:  0;
}


@keyframes lighting {
	0% {
		color: white;
		text-shadow: none;
	}
	90% {
		color: white;
		text-shadow: none;
	}
	100% {
		color: #fff600;
		text-shadow: 0 0 9px #fff600, 0 0 50px #ff6c00;
	}
}

ul li:nth-child(1) {
	animation-delay: 0s;
}
ul li:nth-child(2) {
	animation-delay: 0.1s;
}
ul li:nth-child(3) {
	animation-delay: 0.2s;
}
ul li:nth-child(4) {
	animation-delay: 0.3s;
}
ul li:nth-child(5) {
	animation-delay: 0.4s;
}
ul li:nth-child(6) {
	animation-delay: 0.5s;
}
ul li:nth-child(7) {
	animation-delay: 0.6s;
}
ul li:nth-child(8) {
	animation-delay: 0.7s;
}
ul li:nth-child(9) {
	animation-delay: 0.8s;
}
ul li:nth-child(10) {
	animation-delay: 0.9s;
}
ul li:nth-child(11) {
	animation-delay: 1s;
}
ul li:nth-child(12) {
	animation-delay: 1.1s;
}
ul li:nth-child(13) {
	animation-delay: 1.2s;
}
ul li:nth-child(14) {
	animation-delay: 1.3s;
}

@keyframes switchWords {
	0% {
		content: "Rigoureux";
	}
	30% {
		content: "Autonome";
	}
	60% {
		content: "Motivé";
	}
	100% {
		content: " Curiosité";
	}
}

@media screen and (min-width: 640px) {
	:root {
		scroll-padding-top: 30px;
	}
	

	
	
	.about-me {
		padding-top: 0;
		padding: 2rem;
	}

	.about-me-info {
		padding: 20px;
		width: 60%;
	}
	.about-me p {
		font-size: 1.5rem;
	}
	.about-me-info h1 {
		font-size: 3rem;
	}
}



@media (max-width: 767px) {
	.hidden-mobile {
	  display: none;
	}
  }


.hover-underline-animation{
	display: inline-block;
  	position: relative;
	
}
.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: 
  #0087ca;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
  }